.header{
    background-color: #11324D;
}

.header .row{
    margin-top: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;  
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
}a:hover{
    color: #7bb7e9;
}
p{
    color: #ffffff;
}