/*--------------testimonial-----------*/
.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    margin: 12px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 20px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 22px;
}
/* Brands */
.brands-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;    
}

.col-5 img{
    width: 100%;
    cursor: pointer;
}

.col-5 img:hover{
    filter: grayscale(0);
}
